<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="main">
         <form action="/auth/home" onsubmit="required()" name="excel" method="POST">
            <input type="file" name="excelsheet" id="excel" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="upload-btn">
            <input type="submit" value="Update" class="btn">
         </form>
    </div>
</body>
</html>